body {
    height: 100%;
}

.wraper {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "noto sans";
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    padding: 15px;
    border-bottom: 1px solid black ;
}

.header a {
    display: flex;
    text-decoration: none;
    color: #221dd9;
    align-items: center;
    cursor: pointer;  
}

.main {
    margin: 0 auto;
    padding-top: 50px;
    flex: 1 1 auto;
}

.hero-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hero-container img {
    max-width: 300px;
    max-height: 450px;
}

.hero-container__txt h1 {
    font-size: 30px;
    font-weight: 500;
    color: #221dd9;
    opacity: 0.5;
}

.hero-container__txt h2 {
    font-size: 25px;
    font-weight: 500;
    color: #221dd9;
    opacity: 0.5;
}

.hero-container__txt p {
    font-size: 18px;
    font-weight: 400;
    color: #221dd9;
}

.list li {
    font-size: 18px;
    font-weight: 400;
    color: #221dd9;
}

.footer {
    width: 100%;
    border-top: 1px solid black ;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer__link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
    color: #221dd9;
    align-items: center;
    cursor: pointer;
}

.footer__link img {
    max-width: 24px;
    max-height: 24px;
}

.second-h1 {
    font-size: 30px;
    font-weight: 500;
    color: #221dd9;
    opacity: 0.5;
}
